main {
    padding: 0!important;
    left: 0!important;
    position: absolute;
    top: 0!important;

    z-index: -1;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*  NAVBAR -- BOOTSTRAP --- CUSTOM */

/* Toggler icon styling for the Bootstrap navbar */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* FORM FIRST NAVIGATION */
/* Styling for the search icon on hover */
.search-icon:hover, #announceBtn:hover {
    cursor: pointer;
    background-color: #808080!important;
    color: black!important;
}



/* Animation for the search icon on hover */
.search-icon:hover svg {
    animation: pulse 0.5s ease-in-out;
}

/* Keyframes for the pulse animation */
/* FORM FIRST NAVIGATION */

/*Animations */
@keyframes pulse {
    0% {
        transform: scale(1) rotate(0deg);
    }
    25% {
        transform: scale(1.1) rotate(90deg);
    }
    50% {
        transform: scale(1.2) rotate(180deg);
    }
    75% {
        transform: scale(1.1) rotate(270deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

.nav-link {
    transition: margin-top 0.3s ease;
}

.nav-link:hover {
    margin-top: -5px;
    color: #768390!important; 
}

/*Animations work with git */


.search-input-container {
    width: 90vw;
}

/*------- REGISTER PAGE-------*/
#custon-cardHeader, #nav-container {
    background-color: rgba(23, 7, 247, 0.7) !important;
}

.bg-white:active {
    background-color: #768390!important;
}


/*------- REGISTER PAGE ENDS - */
/* Styles for screens larger than 600 pixels */
@media (min-width: 600px) {


    .search-input-container {
        width: 80vw;
        margin-left: 15vw;
    }
    main {
        padding: 0!important;
        left: 0!important;
        position: absolute;
        top: 0!important;
        width: max-content;
        z-index: -1;
    }

    body {
        position: relative;
    }

}


@media (max-width: 1100px) and (min-width: 765px) {

    .navbar-nav .nav-link, #slogan, #announceBtn {
        font-size: 0; 
    }

    .navbar-nav .nav-link svg, #announceBtn svg {
        display: inline-block;
    }
}
/* Styles for screens larger than 800 pixels */
@media (min-width: 800px) {

    .search-input-container {
        width: 60vw;
        margin-left: 5vw;
    }
    .navbar-custom {
        height: 50px; 
    }

    main {
        padding: 0!important;
        left: 0!important;
        position: absolute;
        top: 0!important;
  
        z-index: -1;
    }

    body {
        position: relative;
    }
    
}






