{% extends "layout.html" %}

{% block title %}
    AdsCreate
{% endblock %}

{% block main %}
<div class="container-xxl d-flex flex-column custon-cardbody p-0 pt-0  ">
    <!-- Messages-->
    {% if error %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-danger flash-alert text-center" role="alert">
                    {{ error }}
                </div>
            </div>
        </div>
    {% endif %}
    
    {% if success_message %}
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <div class="alert alert-success flash-alert text-center" role="alert">
                    {{ success_message }}
                </div>
            </div>
        </div>
    {% endif %}


    <div id="carouselExampleIndicators" class="carousel slide pt-0 shadow-lg mt-0 " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/assets/image/bannerhomeTV.jpg" class="img-fluid w-100 d-block rounded"  alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/assets/image/bannerTechhome.jpg" class="img-fluid w-100 d-block rounded" alt="..." >
          </div>
          <div class="carousel-item">
            <img src="/static/assets/image/especifriqtv.jpg" class="img-fluid w-100 d-block rounded" alt="..." >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    
      <div class="container-fluid border border-1">
     
          <div class="col-12 col-lg-12 shadow-lg " >
            <div class="row pt-2 pt-lg-4 pb-2 pb-lg-3">
              <div class="card-group p-0 d-sm-flex justify-content-center "  >
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType ">
                  <img src="/static/assets/image/icons8-houses-96.png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-traffic-jam-96 (3).png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-lampshade-64 (1).png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-laptop-96.png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-musical-notes-100.png" class="card-img-top img-fluid" alt="..." >
  
                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-toys-64.png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-pets-100.png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-office-100.png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-fashion-100.png" class="card-img-top img-fluid" alt="..." >

                </div>
                <div class="card d-sm-flex rounded me-1 me-lg-4 ms-1 ms-lg-4 align-items-center bg-dark m-1 d-none d-sm-block border border-2 custon__homeType">
                  <img src="/static/assets/image/icons8-controller-100.png" class="card-img-top img-fluid" alt="..." >

                </div>
                <!-- CARROSEL-->
                <div id="cardCarousel" class="carousel slide d-sm-none" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Primeiro conjunto de 3 itens -->
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center">
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex custon__homeType">
                                    <img src="/static/assets/image/icons8-houses-96.png" class="card-img-top img-fluid border border-2" alt="...">
                                </div>
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-traffic-jam-96 (3).png" class="card-img-top img-fluid" alt="...">
                                </div>
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-lampshade-64 (1).png" class="card-img-top img-fluid" alt="...">
                                </div>
                            </div>
                        </div>
                
                        <!-- Segundo conjunto de 3 itens -->
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-laptop-96.png" class="card-img-top img-fluid" alt="...">
                                </div>
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-musical-notes-100.png" class="card-img-top img-fluid" alt="...">
                                </div>
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-toys-64.png" class="card-img-top img-fluid" alt="...">
                                </div>
                            </div>
                        </div>
                
                        <!-- Terceiro conjunto -->
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-pets-100.png" class="card-img-top img-fluid" alt="...">
                                </div>
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-office-100.png" class="card-img-top img-fluid" alt="...">
                                </div>
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-fashion-100.png" class="card-img-top img-fluid" alt="...">
                                </div>
                            </div>
                        </div>
                
                        <!-- Quarto conjunto-->
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <div class="card rounded me-3 me-lg-4 ms-3 ms-lg-4 align-items-center bg-dark m-1 d-flex border border-2 custon__homeType">
                                    <img src="/static/assets/image/icons8-controller-100.png" class="card-img-top img-fluid" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <!-- Navegação do carrossel -->
                    <button class="carousel-control-prev border border-1" type="button" data-bs-target="#cardCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next border border-1" type="button" data-bs-target="#cardCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!---->
                <form method="post" action="/seu-endpoint-de-formulario" id="hiddenForm">
                  <input type="hidden" name="id" value="{{id}}">
                  <div>
                      <img src="/static/assets/image/carbanner.jpg" class="img-fluid w-100 pt-2 pt-lg-4 p-1 shadow-sm border-1" alt="..." style="cursor: pointer;">
                  </div>
              </form>
              
                <!-- Car Announces -->
                <div class="bg-white rounded pt-3 m-4 d-none d-lg-block">
                    <small class="m-1 ps-4">Auto</small>
                    <h3 class="m-1 ps-4">Find your next home travel partner </h3>
                    <div id="carousel_preownedcars" class="carousel slide " data-bs-ride="carousel">
                        
                      <div class="carousel-inner ">
                            {% set chunk_size = 4 %}
                            {% set num_announces = dataCars|length %}
                            {% for i in range(0, num_announces, chunk_size) %}
                                {% set start = i %}
                                {% set end = i + chunk_size %}
                                <div class="carousel-item {% if i == 0 %}active{% endif %}">
                                    <div class="card-group d-flex justify-content-center">
                                        {% for j in range(start, end) %}
                                            {% if j < num_announces %}
                                                <label for="form_{{ j }}" class="card  label-clickable  rounded img-wrapper {% if j == start %}ms-1 ms-lg-2{% else %}ms-3 ms-lg-1{% endif %}
                                                    align-items-center mb-3 border border-1 shadow-sm {% if j > start %}d-none d-sm-block{% endif %}">
                                                    {% if dataCars[j]['image_data'] %}
                                                        <img src="data:image/png;base64,{{ dataCars[j]['image_data'] }}" class="card-img-top img-fluid rounded announce_image" alt="{{ dataCars[j]['title'] }}">
                                                    {% else %}
                                                        <img class="card-img-top img-fluid rounded announce_image" src="../static/assets/image/place_holder.jpg" alt="{{ dataCars[j]['title'] }}">
                                                    {% endif %}
                                                    <form id="form_{{ j }}" method="post" action="/myads">
                                                        <input type="hidden" name="id_announce" value="{{ dataCars[j]['id'] }}">
                                                    </form>
                                                    <div class="card-body">
                                                        <p>${{ dataCars[j]['price'] }},00</p>
                                                        <p>{{ dataCars[j]['title'] }}</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <p>
                                                          <img class="img-fluid" src="/static/assets/image/icons8-location-64.png" alt="" style="height: 16px; width: 16px;">
                                                          {{ dataCars[j]['address'] }}
                                                        </p>                     
                                                    </div>
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                                                
                        <button class="carousel-control-prev " type="button" data-bs-target="#carousel_preownedcars" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon rounded-circle" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next " type="button" data-bs-target="#carousel_preownedcars" data-bs-slide="next">
                            <span class="carousel-control-next-icon rounded-circle " aria-hidden="true"></span>
                            <span class="visually-hidden text-dark">Next</span>
                        </button>
                    </div>
                  </div>
                <!--Car Mobile-->
                <div class="bg-white rounded pt-3 m-4 d-md-none">
                    <small class="m-1 ps-4">Auto</small>
                    <h3 class="m-1 ps-4">Find your next home travel partner</h3>
                    <div id="carosel_carMobile" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for index in range(dataCars|length) %}
                                <button type="button" data-bs-target="#carosel_carMobile" data-bs-slide-to="{{ index }}" {% if index == 0 %}class="active"{% endif %} aria-label="Slide {{ index + 1 }}"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for CarsMobile in dataCars %}
                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                    <label class="card label-clickable rounded img-wrapper__Mobile">
                                        <div class="card justify-content-center">
                                            {% if CarsMobile['image_data'] %}
                                                <img src="data:image/png;base64,{{ CarsMobile['image_data'] }}" class="card-img-top img-fluid rounded announce_image" alt="{{ CarsMobile['title'] }}">
                                            {% else %}
                                                <img class="card-img-top img-fluid rounded announce_image" src="../static/assets/image/place_holder.jpg" alt="{{ CarsMobile['title'] }}">
                                            {% endif %}
                                            <form id="form_carmobile_{{ loop.index }}" method="post" action="/myads">
                                                <input type="hidden" name="id_announce" value="{{ CarsMobile['id'] }}">
                                                <button type="submit" class="btn-stretched-link"></button>
                                            </form>
                                            <div class="card-body">
                                                <h5>${{ CarsMobile['price'] }},00</h5>
                                                <p>{{ CarsMobile['title'] }}</p>
                                            </div>
                                            <div class="card-footer">
                                                <p>
                                                    <img class="img-fluid" src="/static/assets/image/icons8-location-64.png" alt="" style="height: 16px; width: 16px;">
                                                    {{ CarsMobile['address'] }}
                                                </p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carosel_carMobile" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carosel_carMobile" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!--Car mobile -->
                <!-- RealState Announces -->
                <div class="bg-white rounded pt-3 m-4 d-none d-lg-block">
                  <small class="m-1 ps-4">Imoveis</small>
                  <h3 class="m-1 ps-4">Find your next home sweet Home </h3>
                  <div id="carousel_realstate" class="carousel slide " data-bs-ride="carousel">
                      
                    <div class="carousel-inner ">
                          {% set chunk_size = 4 %}
                          {% set num_announces = dataReal|length %}
                          {% for r in range(0, num_announces, chunk_size) %}
                              {% set start = r %}
                              {% set end = r + chunk_size %}
                              <div class="carousel-item {% if r == 0 %}active{% endif %}">
                                  <div class="card-group d-flex justify-content-center">
                                      {% for c in range(start, end) %}
                                          {% if c < num_announces %}
                                          <label for="form_{{ c }}" class="card  label-clickable  rounded img-wrapper {% if c == start %}ms-1 ms-lg-2{% else %}ms-3 ms-lg-1{% endif %}
                                          align-items-center mb-3 border border-1 shadow-sm {% if c > start %}d-none d-sm-block{% endif %}">
                                                  {% if dataReal[c]['image_data'] %}
                                                      <img src="data:image/png;base64,{{ dataReal[c]['image_data'] }}" class="card-img-top img-fluid rounded announce_image" alt="{{ dataReal[c]['title'] }}">
                                                  {% else %}
                                                      <img class="card-img-top img-fluid rounded announce_image" src="../static/assets/image/place_holder.jpg" alt="{{ dataReal[c]['title'] }}">
                                                  {% endif %}
                                                
                                                  <div class="card-body">
                                                      <p>${{ dataReal[c]['price'] }},00</p>
                                                      <p>{{ dataReal[c]['title'] }}</p>
                                                  </div>
                                                  <div class="card-footer">
                                                      <p>
                                                        <img class="img-fluid" src="/static/assets/image/icons8-location-64.png" alt="" style="height: 16px; width: 16px;">
                                                        {{ dataReal[c]['address'] }}
                                                      </p>                     
                                                  </div>
                                                  <form id="form_real{{ c }}" method="post" action="/myads">
                                                    <input type="hidden" name="id_announce" value="{{ dataReal[c]['id'] }}">
                                                    <button type="submit" class="btn-stretched-link"></button>
                                                </form>
                                              </label>
                                          {% endif %}
                                      {% endfor %}
                                  </div>
                              </div>
                          {% endfor %}
                      </div>
                                               
                      <button class="carousel-control-prev" type="button" data-bs-target="#carousel_realstate" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carousel_realstate" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                  </div>
                </div>
                <!-- RealState mobile -->
                
                <!-- RealState mobile -->
                <div class="bg-white rounded pt-3 m-4 d-md-none">
                    <small class="m-1 ps-4">Imóveis</small>
                    <h3 class="m-1 ps-4">Encontre sua próxima casa doce lar</h3>
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            {% for index in range(dataReal|length) %}
                                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ index }}" {% if index == 0 %}class="active"{% endif %} aria-label="Slide {{ index + 1 }}"></button>
                            {% endfor %}
                        </div>
                        <div class="carousel-inner">
                            {% for realMobile in dataReal %}
                                <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                    <label class="card label-clickable rounded img-wrapper__Mobile">
                                        <div class="card justify-content-center">
                                            {% if realMobile['image_data'] %}
                                                <img src="data:image/png;base64,{{ realMobile['image_data'] }}" class="card-img-top img-fluid rounded announce_image" alt="{{ realMobile['title'] }}">
                                            {% else %}
                                                <img class="card-img-top img-fluid rounded announce_image" src="../static/assets/image/place_holder.jpg" alt="{{ realMobile['title'] }}">
                                            {% endif %}
                                            <form id="form_mobile_{{ loop.index }}" method="post" action="/myads">
                                                <input type="hidden" name="id_announce" value="{{ realMobile['id'] }}">
                                                <button type="submit" class="btn-stretched-link"></button>
                                            </form>
                                            <div class="card-body">
                                                <h5>${{ realMobile['price'] }},00</h5>
                                                <p>{{ realMobile['title'] }}</p>
                                            </div>
                                            <div class="card-footer">
                                                <p>
                                                    <img class="img-fluid" src="/static/assets/image/icons8-location-64.png" alt="" style="height: 16px; width: 16px;">
                                                    {{ realMobile['address'] }}
                                                </p>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var cardLabels = document.querySelectorAll('.card.label-clickable');

    cardLabels.forEach(function (cardLabel, index) {
      cardLabel.addEventListener('click', function () {
        var form = document.getElementById('form_' + index);
        if (form) {
          form.submit();
        }
      });
    });
  });
</script>  
</div>

{% endblock %}