{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("pulseButton").addEventListener("click", function () {
    
            // Verifica se todos os campos do formulário são válidos
            if (document.getElementById("username").checkValidity() &&
                document.getElementById("email").checkValidity() &&
                document.getElementById("password").checkValidity() &&
                document.getElementById("confirmPassword").checkValidity()) {
                
                // Adiciona a classe de animação pulse ao botão
                this.classList.add("animate__animated", "animate__pulse");
    
                // Remove a classe de animação pulse após 1 segundo
                setTimeout(() => {
                    this.classList.remove("animate__animated", "animate__pulse");
                }, 1000); 
            } else {
                // Se algum campo não for válido, exibe um alerta
                alert("Por favor, preencha todos os campos do formulário corretamente.");
            }
        });
    });
    </script>

<div class="container-xxl d-flex flex-column">

    <div class="row justify-content-center">
        <div class="col-md-5 shadow-lg rounded p-4 mb-4">
            <div class="card">
                <!-- Header working with git-->
                <div class="card-header bg-dark text-center">
                    <div class="d-flex flex-column align-items-center">
                        <a href="/">
                            <img class="img-fluid w-25 navbar-brand" src="/static/assets/favicon/favicon.png" alt="Logo">
                        </a>
                        <h4 class="mb-0 tw-bold text-light">Create a new account on ClickTips <emoji>😊</emoji></h4>
                    </div>
                </div>
                <!-- Card-Body-->
                <div class="card-body custon-cardBodyLogin" id="custon-cardHeader">
                    <form class="form" role="form" autocomplete="off" method="POST" action="/register">
                        <!---->
                        <div class="form-group pt-2">
                            <label for="username" class="text-white">Username * <small class="text-dark m-2 ">How your name will appear in ads.</small></label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Example: Jon" autocomplete="username" required>
                        </div>
                        <!---->
                        <div class="form-group pt-2">
                            <label for="email" class="text-white">Email *
                                <small class=" m-2 text-dark "> Provide a valid email.</small>
                            </label>
                            <input type="email" class="form-control" id="email" name="email" autocomplete="email" required>
                        </div>

                        <!---->
                        <div class="form-group pt-2">
                            <label for="password" class="text-white">Password * 
                                <small class="text-dark m-2 "> Use letters, numbers and special characters.</small></label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <!---->
                        <div class="form-group pt-2">
                            <label for="confirmPassword" class="text-white">Confirm Password * 
                                <small class="text-dark m-2 ">Confirm your password.</small>
                            </label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
                        </div>
                        <!--Terms and agree-->
                        <div class="form-group pt-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="acceptTerms" required>
                                <label class="form-check-label text-white " for="acceptTerms">
                                    I have read and understand the terms.
                                </label>
                            </div>
                            <small class="text-dark">
                                Read our <a href="/term" class="text-white text-decoration-underline">terms</a>.
                            </small>
                        </div>
                        <div class="d-flex flex-column align-items-center pt-3" id="button-register">
                            <button type="submit" class="btn btn-primary rounded-pill btn-lg bg-white text-dark tw-bold " id="pulseButton" >Register</button>
                            <hr class="my-3 w-75 shaded-line pt-1 rounded-pill" style=" box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
                            <small class="text-white pt-2">Do you already have an account? <a href="/login" class="text-dark text-decoration-underline">Login</a></small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}